city: Dallas, TX 
phone: 512-876-1385
email: carolineackel@gmail.com
auctioner license number 18318

Socials: 
instagram and facebook @carolineackelauctions
linkedin: https://www.linkedin.com/in/carolineackel/
include an icon and the @ for all three of these.

good template https://www.cowboyauctioneer.com
other template https://www.davidackelauctions.com

Testimonials:
	“The team raised $173,000+ for our community in Malawi! You were so wonderful to work with, and I am constantly blown away by your talent and intelligence at such a young age.”
-Savannah Gregorchik, Director of Development, Orient Foundation Charities

“Y'all were rockstars, and I would recommend and use you for any future events that we have.”
-Dr Carrie Williamson, Executive Director, Prosper Education Foundation

“Just a quick note to tell you what a good job Caroline and the Spotters did last night. Our live auction and Golden Ticket programs set new records and I received a lot of positive feedback regarding the entire process based on how the attendees liked the way Caroline conducted the auctions. We will most definitely want to have her or you for the 2027 event.”
-John Martin, Good Shepherd, Catholic Community Event Director 

“Caroline was LOVELY! I actually want to be in touch about you all saving the date for our auction next year. “
-Kiran Ali | Associate Head of School for Advancement and Enrollment
The Regis School of the Sacred Heart

Be sure to include a contact form

the top bar should include the contact info, socials, and a button to create the contact form